---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import ContributorCard from "../components/ContributorCard.astro";

// Developer Photos
// preffered ratio 3:4
import sid from "../assets/images/contributors/siddharth.png";
import alston from "../assets/images/contributors/alston.png";
import leona from "../assets/images/contributors/leona.png";
---

<Layout>
  <Section id="contributors" title="Website Contributors">
    <div class="md:flex justify-center gap-10 lg:gap-28">
      <ContributorCard
        name="Leona Varghese"
        img={leona}
        description="Hey there, this is a very short about me"
        github="https://github.com/LeonaWH"
        linkedin="https://www.linkedin.com/in/leona-varghese-95897921b"
        instagram="https://www.instagram.com/leona_wh_/"
      />
      <ContributorCard
        name="Siddharth Dhaigude"
        img={sid}
        description="Hey there, this is a very short about me"
        github="https://github.com/sd8capricon"
        linkedin="https://www.linkedin.com/in/sdhaigude/"
        instagram="https://instagram.com/sid_d813?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"
        website="https://siddharthdhaigude.tech"
      />
      <ContributorCard
        name="Alston Fernandes"
        img={alston}
        description="Hey there, this is a very short about me"
        github="https://github.com/sd8capricon"
        linkedin="https://www.linkedin.com/in/sdhaigude/"
        instagram="https://instagram.com/sid_d813?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"
        website="https://siddharthdhaigude.tech"
      />
    </div>
  </Section>
</Layout>
