---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Donations | Lokmangal Sanstha Ghot">
  <Section className="text-center h-full">
    <h2 class="text-primary text-3xl font-bold italic mb-5">
      Let's Make A Change
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum dolore
      voluptate assumenda dignissimos ab praesentium, voluptas nisi libero error
      eaque autem, nam alias at aut magni laborum? A, quas nobis!
    </p>
    <div class="lg:w-1/2 mx-auto mt-10 px-10 py-5 border-2 shadow-md">
      <h3 class="text-xl font-semibold">Bank Details</h3>
      <table class="w-full text-left">
        <tr>
          <td>Bank Name</td>
          <td>Lorem, ipsum</td>
        </tr>
        <tr>
          <td>Branch</td>
          <td>GHOT(629)</td>
        </tr>
        <tr>
          <td>Branch Address</td>
          <td><address>V.S.T.G.M. BLDG, GHOT, CHAMORSHI</address></td>
        </tr>
        <tr>
          <td>MICR Code</td>
          <td>442014013</td>
        </tr>
        <tr>
          <td>IFSC Code</td>
          <td>MAHB0000629</td>
        </tr>
        <tr>
          <td>Beneficiary A/C No.</td>
          <td class="font-bold">20235929763</td>
        </tr>
        <tr>
          <td>Account Type</td>
          <td>SB-Chq General-Pub-IND-ALL</td>
        </tr>
        <tr>
          <td>Beneficiary Name</td>
          <td>
            LOKMANGAL CONVENT GHOT<br />
            SR MARLENE PARAKKADAN<br />
            AVILA THARAYIL SR
          </td>
        </tr>
      </table>
    </div>
  </Section>
</Layout>
