---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Donations | Lokmangal Sanstha Ghot">
  <Section className="text-center h-full">
    <h2 class="text-primary text-3xl font-bold italic mb-5">
      Let's Make A Change
    </h2>
    <p>
      Make a Meaningful Impact Today! Your Generous Donation will Empower
      Communities, Provide Education, Healthcare, and Essential Resources, and
      Create Lasting Positive Change for Vulnerable Individuals. Join Our Cause,
      Together Let's Build a Better Future and Foster Hope for a More Inclusive
      and Empowered World. Thank You for Your Support!
    </p>
    <div class="lg:w-2/3 mx-auto mt-10 px-10 py-5 border-2 shadow-2xl">
      <h3 class="text-xl font-semibold mb-6">Bank Account Details</h3>
      <table class="w-full text-left">
        <tr>
          <td>Bank Name</td>
          <td class="font-bold">Bank of Maharashtra</td>
        </tr>
        <tr>
          <td>Branch</td>
          <td>GHOT</td>
        </tr>
        <tr>
          <td>Branch Code</td>
          <td>629</td>
        </tr>
        <tr>
          <td>Branch Address</td>
          <td>
            <address>
              V.S.T.G.M. BLDG, GHOT, CHAMORSHI, Mahrashtra - 442604
            </address>
          </td>
        </tr>
        <tr>
          <td>Branch Contact</td>
          <td class="text-primary">18002334526 / 18001022636</td>
        </tr>
        <tr>
          <td>MICR Code</td>
          <td>442014013</td>
        </tr>
        <tr>
          <td>IFSC Code</td>
          <td>MAHB0000629</td>
        </tr>
        <tr>
          <td>Beneficiary A/C No.</td>
          <td class="font-bold">20235929763</td>
        </tr>
        <tr>
          <td>Account Type</td>
          <td>SB-Chq General-Pub-IND-ALL</td>
        </tr>
        <tr>
          <td>Beneficiary Name</td>
          <td>
            LOKMANGAL CONVENT GHOT<br />
            SR MARLENE PARAKKADAN<br />
            AVILA THARAYIL SR
          </td>
        </tr>
        <tr>
          <td>Beneficiary Contact</td>
          <td class="text-primary">+91 9892494784<br />+91 9637415885</td>
        </tr>
      </table>
    </div>
  </Section>
</Layout>

<style>
  h3::before,
  h3::after {
    content: "";
    /* width: 35px; */
    height: 2px;
    display: inline-block;
    margin-bottom: 6px;
    @apply bg-primary md:w-9;
  }
  h3::before {
    @apply mr-3;
  }
  h3::after {
    @apply ml-3;
  }
  table tr td {
    @apply pb-2;
  }
  table tr td:first-child {
    @apply pr-2 w-1/3;
  }
  table tr td:last-child {
  }
</style>
