---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Donations | Lokmangal Sanstha Ghot">
  <Section className="mt-20 text-center h-full">
    <h2 class="text-primary text-3xl font-bold italic mb-5">
      Let's Make A Change
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum dolore
      voluptate assumenda dignissimos ab praesentium, voluptas nisi libero error
      eaque autem, nam alias at aut magni laborum? A, quas nobis!
    </p>
    <div class="lg:w-1/2 mx-auto mt-10 px-10 py-5 border-2 shadow-md">
      <h3 class="text-xl font-semibold">Bank Details</h3>
      <table class="w-full">
        <tr>
          <td>Bank Name</td>
          <td>Lorem, ipsum</td>
        </tr>
        <tr>
          <td>Bank Name</td>
          <td>Lorem, ipsum</td>
        </tr>
        <tr>
          <td>Bank Name</td>
          <td>Lorem, ipsum</td>
        </tr>
        <tr>
          <td>Bank Name</td>
          <td>Lorem, ipsum</td>
        </tr>
        <tr>
          <td>Bank Name</td>
          <td>Lorem, ipsum</td>
        </tr>
      </table>
    </div>
  </Section>
</Layout>
