---
interface props {
    title: string;
    icon: string;
}
const { title, icon } = Astro.props as props;
---

<div
    class="content-center text-center justify-center bg-secondary shadow-lg mt-8 px-10 py-6"
>
    <!-- <slot name="icon" /> -->
    <i class={"text-primary mb-0 text-4xl " + icon}></i>
    <h3 class="font-semibold text-xl mb-3">{title}</h3>
    <slot />
</div>
