---
interface props {
  title: string;
  icon: string;
  className?: string;
  subtext?: string;
}
const { title, icon, className, subtext } = Astro.props as props;
---

<div
  class={"flex flex-col justify-start bg-secondary shadow-lg mb-10 lg:mb-0 px-10 md:px-5 lg:px-10 py-6 rounded-md " +
    className}
>
  <!-- <slot name="icon" /> -->
  <div class="flex items-center mb-2">
    <i class={"text-primary mr-4 text-3xl md:text-4xl " + icon}></i>
    <h3 class="font-semibold text-xl">{title}</h3>
  </div>
  <slot name="subtext" />
  <slot />
</div>
