---
import logo from "../assets/images/logo.webp";
---

<footer class="bg-secondary">
  <div class="lg:flex justify-between px-8 md:px-12 lg:px-24 py-4" id="footer">
    <div class="grid grid-cols-1 md:grid-cols-7 gap-10 md:gap-20">
      <div class="about-footer cards col-span-3">
        <span class="text-primary text-lg md:text-xl font-bold">
          <a
            href="/#"
            class="text-primary flex items-center text-lg md:text-xl font-bold" style={{ fontFamily: "'Philosopher', sans-serif" }}
          >
            <img class="h-12 mr-4 md:mr-4" src={logo} alt="Lokmangal Logo" />
            Lokmangal
          </a>
        </span>
        <p class="about-footer-text text-gray-500">
          Lokmangal is a non-profitable social organization born out of the
          concept of holistic health of women and the comprehensive development
          of the rural people and from their struggles to achieve these goals.
          The organization works preserving the eternal truth of equality,
          socialjustice and brotherhood.
        </p>
      </div>

      <div class="links-footer col-span-2">
        <span class="text-lg md:text-xl font-bold">
          <p class="footer-title">Links</p>
        </span>
        <ul class="text-gray-500">
          <li class="mb-1"><a href="#about">About Us</a></li>
          <li class="mb-1"><a href="#objectives">Our Objectives</a></li>
          <li class="mb-1">
            <a href="#programs">Government Sponsored Programs</a>
          </li>
          <li class="mb-1"><a href="#contact">Contact Us</a></li>
          <li class="mb-1"><a href="/donations">Donate Now</a></li>
        </ul>
      </div>

      <div class="contact-footer col-span-2">
        <span class="text-lg md:text-xl font-bold">
          <p class="footer-title">Contact Us</p>
        </span>
        <ul class="text-gray-500">
          <li>Lokmangal Sanstha, Ghot. P.O.,</li>
          <li>Th. Chamorshi. Dt. Gadachiroli, 442-604;</li>
          <li>Maharashtra, India</li>
          <li>
            <span class="font-bold text-gray-600">Phone:</span>
            <a href="tel:+919892494784">9892494784</a> |
            <a href="tel:+9199637415885">9637415885</a>
          </li>
          <li>
            <span class="font-bold text-gray-600">Email:</span>
            <a href="mailto:lokmangalghot@gmail.com">
              lokmangalghot@gmail.com
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="border-gray-300 mx-24" />
  <!-- <div class="w-full px-14 py-1 bg-zinc-100 text-[#8b8b8b]"> -->
  <div class="w-full px-14 py-1 text-[#8b8b8b]">
    <p id="copyright-text" class="mb-1 text-center">
      Copyright &#169 2023 Lokmangal
    </p>
    <p id="copyright-text" class="mb-1 text-center">
      Designed & Developed by
      <span class="name text-primary">
        <a href="https://www.linkedin.com/in/sdhaigude" target="_blank">
          Siddharth Dhaigude
        </a>
      </span>,
      <span class="name text-primary">
        <a
          href="https://www.linkedin.com/in/alston-fernandes-b28720220"
          target="_blank"
        >
          Alston Fernandes
        </a>
      </span> &
      <span class="name text-primary">
        <a
          href="https://www.linkedin.com/in/leona-varghese-95897921b/"
          target="_blank"
        >
          Leona Varghese
        </a>
      </span>
    </p>
  </div>
</footer>

<style>
  li {
    padding-top: 0.1rem;
  }
  .about-footer-text {
    padding-top: 1.1rem;
  }
  .footer-title {
    padding-bottom: 1rem;
  }
  #footer {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
</style>
