---
import logo from "../assets/images/logo.webp";
import { Hamburger, Mail, Phone } from "../assets/icons";

const currentPage = Astro.url;
---

<>
  <div
    class="flex justify-center md:justify-between bg-primary text-white px-7 md:px-14 py-3"
  >
    <div>Donate to our cause...<a href="/donations">Donate Now</a></div>
    <div class="hidden md:flex">
      <div class="flex items-center border-r border-gray-200 pr-3 mr-3">
        <img class="h-4 w-4 mr-2 invert" src={Mail} alt="mail icon" />
        <a href="mailto:lokmangalghot@gmail.com">lokmangalghot@gmail.com</a>
      </div>
      <div class="flex items-center border-r border-gray-200 pr-3">
        <img class="h-4 w-4 mr-2 invert" src={Phone} alt="contact icon" />
        <a href="tel:+919892494784">+91 9892494784</a>
      </div>
    </div>
  </div>
  <header
    id="navbar"
    class="sticky z-50 w-full top-0 lg:flex justify-between px-7 md:px-14 py-3 shadow-lg bg-white"
  >
    <div class="flex justify-between">
      <a
        href="#"
        class="text-primary flex items-center text-lg md:text-xl font-bold"
      >
        <img class="h-12 mr-4 md:mr-4" src={logo} alt="Lokmangal Logo" />
        Lokmangal
      </a>
      <button class="lg:hidden" id="hamburgerBtn">
        <img class="h-8" src={Hamburger} alt="menu button" />
      </button>
    </div>
    <nav class="lg:block">
      <ul class="mt-3 lg:mt-0 lg:flex h-full items-center">
        <li
          class="nav-link"
          class:list={[{ active: currentPage.pathname === "/" }]}
        >
          <a href="/#">Home</a>
        </li>
        <li class="nav-link"><a href="/#about">About</a></li>
        <li class="nav-link"><a href="/#objectives">Objectives</a></li>
        <li class="nav-link">
          <a href="/#programs">Government Sponsored Programs</a>
        </li>
        <li class="nav-link"><a href="/#contact">Contact</a></li>
        <li class="nav-link">
          <a
            href="/donations"
            class="bg-primary px-5 py-1.5 text-white rounded-md"
          >
            Donate Now
          </a>
        </li>
      </ul>
    </nav>
  </header>
</>

<script>
  const hamburger: HTMLElement = document.querySelector("#hamburgerBtn")!;
  const nav: HTMLElement = document.querySelector("nav")!;
  const liArr = document.querySelectorAll("nav li")!;
  hamburger.addEventListener("click", () => nav.classList.toggle("transform"));
  liArr.forEach((li) =>
    li.addEventListener("click", () => nav.classList.toggle("transform"))
  );
</script>

<style>
  .nav-link {
    @apply mt-4 lg:mt-0 lg:ml-8 hover:text-primary transition-all relative;
  }
  .nav-link.active {
    @apply text-primary;
  }
  @media screen and (max-width: 1024px) {
    nav {
      background-color: white;
      position: absolute;
      left: 0;
      width: 100%;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 0.5s ease-in-out;
      @apply px-14 pb-4 shadow-lg;
    }
    nav.transform {
      transform: scaleY(1);
    }
  }
  @media screen and (min-width: 1024px) {
    .nav-link a::after {
      position: absolute;
      content: "";
      left: 50%;
      bottom: -4px;
      width: 40px;
      height: 2px;
      margin-left: -20px;
      transform: scaleX(0);
      transition: transform 0.5s ease-in-out;
      @apply bg-primary;
    }
    .nav-link.active a::after {
      transform: scaleX(1);
    }
  }
</style>
