<div
    class="sticky z-50 top-0 flex justify-between px-14 py-4 shadow-lg bg-white"
>
    <span class="text-primary text-lg font-bold">Lokmangal</span>
    <nav>
        <ul class="hidden lg:flex">
            <li class="ml-10"><a href="#">Home</a></li>
            <li class="ml-10"><a href="#">About Us</a></li>
            <li class="ml-10"><a href="#">Our Objectives</a></li>
            <li class="ml-10"><a href="#">Government Sponsored Programs</a></li>
            <li class="ml-10">
                <a href="#" class="bg-primary px-5 py-1 text-white"
                    >Contact Us</a
                >
            </li>
        </ul>
    </nav>
</div>
