---
interface props {
    content: string;
    icon: string;
}
const { content, icon } = Astro.props as props;
---

<div
    class="flex items-center gap-4 md:gap-8 justify-start border-t-2 border-slate-300 border-solid shadow-sm w-full md:max-w-[47%] px-2 lg:px-10 py-12"
>
    <!-- <slot name="icon" /> -->
    <div class="border-2 md:border-4 border-solid basis-24 grid place-items-center aspect-square grow-0 shrink-0 border-primary rounded-full p-2">
      <img class="w-4/5 h-auto" src={icon} />
    </div>
    <p class="font-regular text-base">{content}</p>
</div>
