---
import SectionTitle from "./SectionTitle.astro";

export interface props {
    id: string;
    title: string;
    titleSubText?: string;
}

const { id, title, titleSubText } = Astro.props as props;
---

<section id={id} class="container mx-auto px-8 md:px-12 lg:px-24 py-14">
    <SectionTitle title={title} subText={titleSubText} />
    <slot />
</section>
